:root {
    --border_color_1: #750899;
    --border_color_2: #0d66bf;
    --panel_background_color: #ffffff;
    --body_background_color: #d9d9d9;
}

body {
    background-color: var(--body_background_color);
    height:100vh;
    padding:0px;
    margin:0px;
    font-family: Verdana;
    font-size: 14px;
}

.ui_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
}

div.visualizer_container {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}

div.visualizer_pair_container {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    border-style: solid;
    border-width: 3px;
    border-color: var(--border_color_1);
    background-color: var(--panel_background_color);
    margin: 5px;
}

.profile_holder {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 0px;
    margin: 5px;
}

div.profile {
    height: 100%;
    overflow: hidden;
    background-color: #00ff00;
    border-style: solid;
    border-color: var(--border_color_2);
    border-width: 3px;
    margin: 0px;
    padding: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas.profile {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

.viewport_holder {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: column;
    margin: 5px;
}

div.viewport {
    overflow: hidden;
    background-color: #00ff00;
    border-style: solid;
    border-color: var(--border_color_2);
    border-width: 3px;
    padding: 0px;
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas.viewport {
    background-color: #000000;
    padding:0px;
    margin:0px;
}

.controls {
    background-color: var(--panel_background_color);
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-color: var(--border_color_1);
    border-width: 3px;
    line-height: 1.5;
}

.phase_box {
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #0d66bf;
    border-width: 3px;
    margin: 3px;
}

.phase_box:focus {
    outline: none;
    border-color: #15a318;
}

.visualizer_header {
    padding: 5px;
    margin: 0px;
}

@media (orientation: landscape) {
    .ui_container {
        flex-direction: row-reverse;
    }

    .visualizer_container {
        height: 100vh;
    }
}

@media (orientation: portrait) {
    .ui_container {
        flex-direction: column-reverse;
    }

    .profile_holder {
        flex: 1 1 auto;
    }

    .div.visualizer_container {
        flex: 4;
    }

    .controls {
        flex: 1;
    }
}